/***********************************************************************
The container class holds the navigation menu, movie selection, and chat
************************************************************************/
.container {
	margin: 0px;
	display: flex;
	justify-content: space-between;
	border: 2px solid black;
	font-family: sans-serif;

}

/***********************************************************************
The navigation menu holds the search option, main links to other pages,
"Your Movie Choice" pages, and "Collections" links
************************************************************************/
.nav {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	border: 2px solid yellow;
	width: 15%;
	background: #1a1010;
	color: #f2eeee;


}

.sideBarText {
	list-style-type: none;
	font-size: 15px;
}

/***********************************************************************
This is the center section of the page containing the top title bar
and the movies available for selection
************************************************************************/
.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 70%;
}

.topBar {
	display: flex;
	height: 20px;

}

.movies {
	width: 140px;
	height: 230px;
	padding-left: 15px;
	padding-right: 15px;
}

.movies__images {
	width: 140px;
	height: 200px;
}

.movies__title {
	font-size: 10px;
	margin: 0px;
}

.movies__genre {
	font-size: 8px;
	color: gray;
	margin: 0px;
}

.movies__runTime {
	font-size: 8px;
	color: gray;
	margin: 0px;
}
/***********************************************************************
This is the chat section of the page where friends can be viewed and 
chatted with
************************************************************************/
.chat {
	border: 2px solid red;
	width: 15%;
}

.chat__movieTitle {
	color: gray;
}

.chat__online {
	border: 1px dashed purple;
}

.chat__offline {
	border: 1px dashed aqua;
}

/***********************************************************************
The titles in the side bars (navigation and chat)
************************************************************************/
.sideBarTitles {
	
	color: #6f6b6b;
}

.sideBarImages {
	width: 15px;
	height: 15px;
}

.sideBarItem {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	padding-top: 15px;
	padding-bottom: 15px;
}

.search {
	display: flex;
	height: 100px;
	font-size: 10px;
	background: #e75b5b;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
}